language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build
after_success:
  gulp deploy --user $DEV_FTP_USER --password $DEV_FTP_PASSWORD 
# deploy:
#   provider: script
#   script: gulp deploy --user $DEV_FTP_USER --password $DEV_FTP_PASSWORD  # environment variables stored at travis-ci.org
#   on:
#     branch: development
# deploy:
#   provider: script
#   script: gulp deploy --user $PROD_FTP_USER --password $PROD_FTP_PASSWORD # environment variables stored at travis-ci.org
#   on:
#     branch: master 