* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: monospace;
}
#create-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.logo {
  width: 300px;
}
.subheading {
  font-size: 2em;
}
.text-input {
  min-width: 10vw;
  max-width: 90vw;
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-size: 1.1em;
  display: inline-block;
}
.text-output {
  font-size: 1.7em;
}
a>i.fa-github {
  color: #000;
}
